* body {
    font-family: "Loto", sans-serif;
    padding: 20px;
    background-size: cover;
    background-color: "w3-light-grey";
    }

    .welcome {
        height: 100%;
        /* max-height: 600px; */
        width: 1000px;
        background-color: hsla(200,40%,30%,.4);
        background-image:		
            url('https://78.media.tumblr.com/cae86e76225a25b17332dfc9cf8b1121/tumblr_p7n8kqHMuD1uy4lhuo1_540.png'), 
            url('https://78.media.tumblr.com/66445d34fe560351d474af69ef3f2fb0/tumblr_p7n908E1Jb1uy4lhuo1_1280.png'),
            url('https://78.media.tumblr.com/8cd0a12b7d9d5ba2c7d26f42c25de99f/tumblr_p7n8kqHMuD1uy4lhuo2_1280.png'),
            url('https://78.media.tumblr.com/5ecb41b654f4e8878f59445b948ede50/tumblr_p7n8on19cV1uy4lhuo1_1280.png'),
            url('https://78.media.tumblr.com/28bd9a2522fbf8981d680317ccbf4282/tumblr_p7n8kqHMuD1uy4lhuo3_1280.png');
        background-repeat: repeat-x;
        background-position: 
            0 20%,
            0 100%,
            0 50%,
            0 100%,
            0 0;
        background-size: 
            2500px,
            800px,
            500px 200px,
            1000px,
            400px 260px;
        animation: 50s para infinite linear;
        }
    
    @keyframes para {
        100% {
            background-position: 
                -5000px 20%,
                -800px 95%,
                500px 50%,
                1000px 100%,
                400px 0;
            }
        }

/* body
{
    padding: 20px;
    background-image: url("../pexels-andrew-neel-2859169.jpg");
    color: blanchedalmond;
    font-family: 'Amatic SC', cursive;
    background-size: cover;
}


.box1
{
 background-color: rgba(85, 107, 47, .50);
 border-radius: 15px;
 border-width: 1px;
 border-color: black;
 border-style: dotted;
 padding: 15px;
 margin: 15px;
 font-family: 'Amatic SC', cursive;
 font-size: 40px;

}

.link1
{
 background-color: rgba(163, 127, 80, .75);
 font-family: 'Amatic SC', cursive;
 width: 125px;
 border-radius: 15px;
 border-width: 1px;
 border-color: black;
 border-style: solid;
 padding: 10px;
 margin: 10px;
 text-decoration: none;
 font-size: 25px;
 color:blanchedalmond;
 text-align: center;
 transition: .5s;
}
.link1:hover
{
 background-color: darkolivegreen;
 width: 125px;
 border-radius: 15px;
 border-width: 1px;
 border-color: black;
 border-style: solid;
 padding: 10px;
 margin: 10px;
 text-decoration: none;
 font-size: 15px;
 color:blanchedalmond;
 text-align: center;
}
.logo
{
    font-size: 100px;
    font-family: 'Akronim', cursive;
    color: burlywood;
    text-shadow: 4px 4px dimgray;
    margin: 8px 0 16px;
}
const Logo = styled.h1`
  font-family: "Permanent Marker", cursive;
  font-size: 3rem;
  color: deeppink;
  margin: 8px 0 16px;
`;
.dropdown
{
    font-family: 'Amatic SC', cursive;
    font-size: 24px;
   
}
.createentry
{
    font-family: 'Amatic SC', cursive;
    font-size: 2em;
    text-shadow: 12px 12px black;
}
.login
{
    font-family: 'Amatic SC', cursive;
    color: antiquewhite;
}
.nonefound
{
    font-family: 'Amatic SC', cursive;
   color: orangered;
    font-size: 50px;
    text-shadow: 2px 2px black;

}
.title1
{
    text-shadow: 12px 12px black;
    font-family: 'Amatic SC', cursive;
    color: orangered;
    
}
.title2
{
    text-shadow: 12px 12px black;
    font-family: 'Amatic SC', cursive;
    color: orangered;
    
}
.tagline
{
    color: white;
    font-family: 'Amatic SC', cursive;
} */