.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f9f9f9;
  align-items: center;

}

.header_logo {
  height: 10 px;
  object-fit: contain;
  
}

.header_icon {
  padding: 20px;
}
.logo_text {
  font-family: 'Festive', cursive;
  font-size: 56px;
  /* letter-spacing: 0.015em; */
  /* word-spacing: 0.001em; */
  font-weight: bolder;
  color: rgb(10, 68, 10);
  text-shadow: 2px 1px black;
}