.swipeButtons {
  position: fixed;
  bottom: 10vh;
  width: 100%;
  display: fixed;
  /* background-color: white;  */
  justify-content: space-evenly;
   
}

#back {
  box-shadow: 0 10px 53px 0 rgba(0, 0, 0, 0.3) !important;
  padding: 3vh !important;
}
#chat {
  padding: 3vh !important;
  box-shadow: 0 10px 53px 0 rgba(0, 0, 0, 0.3) !important;
  
}
#star {
  padding: 3vh !important;
  color: yellow;

}
#X {
  padding: 3vh !important;
  color: red;
  box-shadow: 0 10px 53px 0 rgba(0, 0, 0, 0.3) !important;
  border-right: flex;
}